 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     background: #edf2f8;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     line-height: 1.7;
     font-size: 13px;
 }

 .testimonial {
     max-width: 1440px;
     margin: 100px auto;
     padding: 20px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 30px;
     /* memberi jarak pada kotak */
 }

 .card {
     background: whitesmoke;
     border-radius: 10px;
     padding: 30px;
     box-shadow: rgba(17, 12, 0, 15) 0px 40px 100px 0px;
     /* memberi bayangan pada kotak */
     margin-bottom: 10px;
 }

 .card_header {
     display: flex;
     align-items: center;
     margin-bottom: 1px;
 }

 .card_header,
 h3 {
     font-size: 15px;
 }

 .card_header,
 p {
     opacity: 80%;
 }

 .card_img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: 2px solid #996ed9;
     margin-right: 10px;
 }

 .card_lead {
     font-size: 1.5rem;
     /* untuk memperbesar text pada judul */
     font-weight: 500;
     line-height: 1.3;
     margin-bottom: 20px;
 }

 .card_quote {
     font-size: 20px;
     /* untuk memperbesar text pada judul */
     font-weight: 500;
     line-height: 1.4;
     opacity: 70%;
 }

 .card-bg-purple {
     background: #8237f4;
     color: aliceblue;
 }

 .card-bg-grayblue {
     background: #cdc1e4;
     color: rgb(85, 7, 46);
 }

 .card-bg-blackblue {
     background: #17053a;
     color: rgb(218, 135, 176);
 }

 .card-bg-green {
     background: #1bdd0d;
     color: rgb(255, 20, 20);
 }

 .card-bg-yellow {
     background: #afc91c;
     color: rgb(4, 0, 255);
 }

 .card:nth-of-type(1) {
     grid-column: 1/3;
 }

 .card:nth-of-type(4) {
     grid-column: 2/4;
     grid-row: 2;
 }

 .card:nth-of-type(5) {
     grid-column: 4;
     grid-row: 1/3;
 }

 footer {
     text-align: center;
 }

 @media(max-width:900px) {
     .testimonial {
         grid-template-columns: 1fr;
         width: 100%;
     }

     .card:nth-of-type(1) {
         grid-column: 1;
     }

     .card:nth-of-type(4) {
         grid-column: 1;
         grid-row: 4;
     }

     .card:nth-of-type(5) {
         grid-column: 1;
         grid-row: 5;
     }
 }
